.App{
    text-align: center;
    background-color: rgb(180, 45, 45);
}
.title{
    color:ghostwhite;
    text-decoration: underline;
}
.name{
    color:ghostwhite; 
    text-decoration: underline;
}
.addres{
    color:ghostwhite;
    text-decoration: underline;
}